.special-color-dark {
    background-color: #263238 !important;
}

.footer_elem {
    background-color: #000000 !important;
}


footer.page-footer {
    bottom: 0;
    color: #fff;
}

.logo_social{
    width: 5%;
}

.block_social{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.link_footer{
    display: flex;
    flex-direction:column;
}